html{
  background-color: #DCD6D1;
  font-family: serif;
}
button{
  font-size:1.5em;
  font-weight: bold;
  float: right;
  background-color: black;
  color:#85E0EA;
}
h1{
  border: double 1px white;
  width:25%;
  font-weight: bold;
  background-color: #B47555;
}
div{

border-spacing: 1em;
  background-color: #64B96A;
  border:double 3px #A25653;
  width:70%;
  padding: 1em;
  }
  h3{
    font-weight:bold;
}
h6{
  float: right;
  opacity: 0.4;
  color:white;

}
