
/* specify the background color and text color of the html page*/
html{
  background-color: black;
  font-family: sans-serif;
}
/*positions the form in the center of the page*/
form{
  position: absolute;
  top:10em;
  left: 20em;
  background-color: #D43835;
  width:60%;
  border: double 2px black;
}
