/* specify the background color and text color of the html page*/
html{
  background-color: #2C363F;
  font-family: sans-serif;
}
/*positions the form in the center of the page*/
form{
  position: absolute;
  top:20em;
  left: 35em;
  background-color: #F5F100;
  width:30%;
  border: double 2px black;
}
/* styles the title of the form */
h2{
  color:white;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
}
/*sets padding between the input fields*/
input{
  padding: 0.4em;
  background-color: white;
}
label{
  font-weight: bold;
  padding: 2em;
}
