html{
  background-color: darkblue;

}
  body{
    background-color: white;
    width: 80%;
    margin: auto;
  }

header{
  border-style: double;
  color: white;
  font-weight: bold;
  background-color: darkgreen;
  width: 75%;
  margin: auto;
  text-align: center;
}
.underline
{
  font-weight: bold;
  border-bottom: 1px solid white;
width: 70%;
display: block;
margin:auto;
}


article{
  font-size: 13pt;
  text-align: center;
}
section{
  font-size: 13pt;
  text-align: center;
}
img{
  border: double black 5px;
  border-color: black;
  margin: 10px auto 20px;
    display: block;
}
figcaption{
  text-align: center;
}
a:link{
  text-decoration: underline;
  color:red;
}
a:hover
{
  text-decoration: underline;
  color: blue;
  background-color: white;
}
footer{
  border-top: solid orange 3px;
  border-left: dashed orange 3px;
  border-right: dashed orange 3px ;
  background-color: darkgreen;
  height: 15px;
  position:absolute;
    bottom:0;
    left:0;
    width: 100%;

}
